<div class="mb-4 p-8 flex items-center justify-center">
  @for (product of products; track products.id) {
  <p-card class="mr-4">
    <ng-template pTemplate="header">
      <img
        alt="Product Image"
        class="w-full"
        [src]="product.imageUrl"
        style="object-fit: cover; height: 200px"
      />
    </ng-template>

    <ng-template pTemplate="title">
      <p>{{ product.name }}</p>
    </ng-template>
    <ng-template pTemplate="description">
      {{ product.description }}
    </ng-template>
    <ng-template pTemplate="subtitle">
      {{ product.category }}
    </ng-template>

    <ng-template pTemplate="content">
      <p class="text-black">{{ product.description }}</p>
      <p><strong>Fiyat:</strong> {{ product.price | currency : "TRY" }}</p>
      <p class="text-black">
        <strong>Stok:</strong>
        <span
          [ngClass]="{
            'text-red-600': product.stock === 0,
            'text-green-600': product.stock > 0
          }"
        >
          {{ product.stock }} adet
        </span>
      </p>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        label="Sipariş Et"
        icon="pi pi-shopping-cart"
        [disabled]="product.stock === 0"
        (click)="showDialog()"
      ></button>
    </ng-template>
  </p-card>
  }
</div>

<div class="card flex justify-center">
  <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
    <ng-template #header>
      <div class="inline-flex items-center justify-center gap-2">
        <span class="font-bold whitespace-nowrap">Amy Elsner</span>
      </div>
    </ng-template>
    <span class="text-surface-500 dark:text-surface-400 block mb-8"
      >Update your information.</span
    >
    <div class="flex items-center gap-4 mb-4">
      <label for="username" class="font-semibold w-24">Username</label>
      <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-2">
      <label for="email" class="font-semibold w-24">Email</label>
      <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <ng-template #footer>
      <p-button
        label="Cancel"
        [text]="true"
        severity="secondary"
        (click)="visible = false"
      />
      <p-button
        label="Save"
        [outlined]="true"
        severity="secondary"
        (click)="visible = false"
      />
    </ng-template>
  </p-dialog>
</div>
